#bodyCautareBilete {
  background-image: url("../../assets/fundalCautareBilete.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tabel {
  position: relative;
  margin-left: 500px;
  top:30%;
  margin-right: auto;
}