.drop {
    position: relative;
    display: inline-block;

    &:hover{
        cursor: pointer;
    }

    #id2 {
        position: absolute;
        background-color: #f8f8f8;
        border-radius: 8px;
        width: 230px;
        padding: 10px;
        z-index: 2;
    }

    button {
        margin: 0 5px;
    }
}

#bodyCautareBilete {
    background-image: url("../../assets/fundalCautareBilete.jpg");
    height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#id1 {
    margin: auto;
    position: absolute;
    top: 30%;
    font-size: 20px;
    left: 50%;
    height: 180px;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 6px;


    .butonRadio {
        display: flex;
        align-items: center;
        input[type="radio"] {
            margin-right: 10px;
        }
    }
    

    input {
        border-radius: 8px;
        height: 28px;
    }

td {
    padding: 0px 30px;
}

}