.header {
  position: absolute;
  top: 20px;
  left: 40px;
}

.pagCreareCont {
  margin-top: 10%;
  text-align: center;

  .atentionare {
    color: red;
    font-size: 14px;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    font-family: Constantia, serif;
    background-color: rgba(252, 248, 248, 0.44);
    border: 1px solid rgba(200, 200, 200, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 60px;
    font-size: 20px;
    height: 400px;


    input {
      border-radius: 6px;
      border: 1px solid #333333;
      height: 40px;
      width: 200px;
    }

  }

  .butoaneCreareLogare {
    cursor: pointer;
    display: inline-block;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    background-color: rgba(35, 146, 178, 0.87);
    overflow: hidden;
    text-align: center;
    line-height: 50px;

    a {
      color: #ffffff;
      font-size: 18px;
      text-decoration: none;
    }
  }
}
